*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* Flex - Container */

.parent {
    width: 800px;
    height: 500px;
    background-color: #ddd;
    display: flex;
    /* Default display of flex-direction: row;*/
    flex-direction: row/* column - column-reverse - row-reverse*/
    ;
    justify-content: space-around;
    flex-wrap: /* nowrap */
    wrap/* wrap contents depends on child width */
    ;
}


/* Flex - Item */

.child {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid #000;
}

@media (max-width:1200px) {
    .parent {
        flex-direction: column;
    }
}